<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\Lars\h3pd101122\Serverside\CodeMaze\.NET-Core-Series-master\Part 16\.NET Core part - end\AccountOwnerServer\internal_logs\internallog.txt">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="c:/Lars/h3pd101122/Serverside/CodeMaze/.NET-Core-Series-master/Part 16/.NET Core part - end/AccountOwnerServer/logs/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>